Examples/06_BeforeAndAfter_1-10/06_BeforeAndAfter_1-10/_09_Proxy/Service References/LotteryService/LotteryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotteryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://guyguy.myftp.org/MTADesignPatternsServices/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://guyguy.myftp.org/MTADesignPatternsServices/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://guyguy.myftp.org/MTADesignPatternsServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotteryService_GetRandomStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStudent" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetRandomStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotteryService">
    <wsdl:operation name="GetRandomStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetRandomStudent" message="tns:ILotteryService_GetRandomStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetRandomStudentResponse" message="tns:ILotteryService_GetRandomStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetStudents" message="tns:ILotteryService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetStudentsResponse" message="tns:ILotteryService_GetStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotteryService" type="tns:ILotteryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomStudent">
      <soap:operation soapAction="http://tempuri.org/ILotteryService/GetRandomStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/ILotteryService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryService">
    <wsdl:port name="BasicHttpBinding_ILotteryService" binding="tns:BasicHttpBinding_ILotteryService">
      <soap:address location="http://guyguy.myftp.org/MTADesignPatternsServices/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>